.tabbar {
    width: 1200px;
    margin: 15px auto -2px auto;
    overflow: hidden;
    box-sizing: border-box;
    border-top: 1px solid #eaebf3;
    border-left: 1px solid #eaebf3;
    border-right: 1px solid #eaebf3;
    background: #f9faff;
}

    .tabbar li {
        float: left;
        padding: 0 36px;
        font-size: 14px;
        line-height: 50px;
        border-bottom: 1px solid #eaebf3;
        border-right: 1px solid #eaebf3;
    }

        .tabbar li a {
            color: #0a0d2c;
        }

.tabbar .active {
    border-bottom: 2px solid #3f68ff;
}

    .tabbar .tab-icon {
        width: 25px;
        height: 25px;
        display: inline-block;
        background: url(/Resources/design/images/Search/search_icons.png) no-repeat;
        position: relative;
        top: 8px;
        margin-right: 10px;
    }

    .tabbar .tab-icon-0 {
        background-position: 0 0;
    }

    .tabbar .tab-icon-1 {
        background-position: 0 -25px;
    }

    .tabbar .tab-icon-2 {
        background-position: 0 -50px;
    }

    .tabbar .tab-icon-3 {
        background-position: 0 -75px;
    }

    .tabbar .active .tab-icon-0 {
        background-position: -25px 0;
    }

    .tabbar .active .tab-icon-1 {
        background-position: -25px -25px;
    }

    .tabbar .active .tab-icon-2 {
        background-position: -25px -50px;
    }

    .tabbar .active .tab-icon-3 {
        background-position: -25px -75px;
    }
